<div class="container-fluid wrap">

  <div class="title-message">
      <h2>{{ message }}</h2>
  </div>
  
  <div class="main-content">
    <h3>Your Purchases</h3>
    <div ng-repeat="order in orders" ng-hide="noOrders">
      <h4>{{ order.service.title }}</h4>
      <p>{{ order.service.description }}
      <p>Status: {{ order.status }} | Created on: {{ order.created_at | date:"dd/MM/yyyy" }} | Seller: <a href="/#/profile/{{ order.sellerId }}">{{ order.seller }}</a></p>
      <a href="/#/orders/contact/{{ order.sellerId }}" class="btn btn-primary">Contact</a>
      <a href="/#/services/{{ order.service.id }}/ratings/create" class="btn btn-primary" ng-show="client">Rate Service</a>
    </div>
    <h4 ng-show="noOrders">You have no purchases</h4>
  </div>

  <div class="main-content">
    <h3>Your Sales</h3>
    <div ng-repeat="sale in sales track by $index" ng-hide="noSales">
      <h4>{{ sale.title }}</h4>
      <p>{{ sale.description }}
      <p>Status: {{ sale.status }} | Created on: {{ sale.created_at | date:"dd/MM/yyyy" }} | Client: <a href="/#/profile/{{ sale.clientId }}">{{ sale.client }}</a></p>
      <a href="/#/orders/contact/{{ sale.clientId }}" class="btn btn-primary">Contact</a>
      <a href="" ng-click="completed($index)" class="btn btn-primary" ng-show="{{sale.awaiting}}">Update status</a>
    </div>
    <h4 ng-show="noSales">You have no sales</h4>
  </div>

</div>