<div class="container-fluid wrap">

  <div class="intro-message text-center">
      <h2>{{ message }}</h2>
      <h3>Update your settings carefully.</h3>
  </div>

  <div class="main-content">
    <form ng-submit="updateAccount()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" ng-model="updateAccountForm.name" required="required" class="form-control">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" ng-model="updateAccountForm.email" required="required" class="form-control">
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" name="phone" ng-model="updateAccountForm.phone" class="form-control">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea type="text" name="description" ng-model="updateAccountForm.description" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input type="password" name="password" ng-model="updateAccountForm.password" class="form-control">
      </div>
      <div class="form-group">
        <label>New Password Confirmation</label>
        <input type="password" name="password_confirmation" ng-model="updateAccountForm.password_confirmation" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="/#/" class="btn btn-danger">Cancel</a>
    </form>
  </div>

</div>