<div class="container-fluid wrap">

  <div class="intro-message text-center">
      <h2>{{ message }}</h2>
      <h3>You're famous.</h3>
  </div>

  <div class="main-content">
    <div class="row">
      <div class="col-xs-8">
        <h3>{{ profile.name }}</h3>
        <p>{{ profile.description }}</p>
      </div>
      <div class="col-xs-4">
        <img ng-src="{{ profile.image }}" class="img-responsive img-rounded" alt="profile picture">
      </div>
    </div>
    <div class="row">
      <h3>Services</h3>
      <div class="services-list">
        <div ng-repeat="service in profile.services" ng-hide="noServices">
          <span>{{ service.title }}</span>{{ service.district }}
        </div>
        <p ng-show="noServices">No Services currently offered</p>
      </div>
    </div>
  </div>

</div>