<div class="container-fluid wrap">

  <div class="title-message">
      <h2>{{ message }}</h2>
  </div>

  <div class="main-content">
    <div class="row profile-details">
      <div class="col-xs-8 service-details-left">
        <h3>{{ profile.name }}</h3>
        <p>{{ profile.description }}</p>
      </div>
      <div class="col-xs-4">
        <img ng-src="{{ profile.image }}" class="img-responsive img-rounded" alt="profile picture">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Services provided</h4>
          <div class="services-list col-xs-12" ng-hide="noServices">
            <div class="row services-items" ng-repeat="service in services" >
              <div class="services-item-details col-xs-9">
                <h4><a href="/#/services/{{ service.id }}">{{ service.title }}</a></h4>
                <p>{{ service.description | limitTo: 110 }}...</p>
                <p class="services-item-details-mini">Rating: {{ service.average_rating }} | Created on: {{ service.created_at | date:"dd/MM/yyyy" }} | District: {{ service.district }}</p>
              </div>
              <div class="services-item-price col-xs-3 text-center">
                <h4>HK$50</h4>
              </div>
            </div>
          </div>
          <p ng-show="noServices">No Services currently offered</p>
      </div>
    </div>
  </div>

</div>