<nav class="navbar">
  <div class="container-fluid wrap">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">Jimmy This</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="loggedIn"><a href="/#/login">Log In</a></li>
        <li ng-hide="loggedIn"><a href="/#/signup" class="btn btn-primary">Join Today</a></li>
      </ul>
    </div> 
  </div>
</nav>
<div class="container-fluid wrap">
  <div class="row">

    <h1>{{ message }}</h1>

    <form ng-submit="signup()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" ng-model="registrationForm.name" required="required" class="form-control">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control">
      </div>
      <div class="form-group">
        <label>Password Confirmation</label>
        <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/#/" class="btn btn-danger">Back</a>
    </form>
    
  </div>
</div>