body {
  background: image-url("background_1.png");
  font-family: 'Lato';
  color: #666;
  letter-spacing: 0.5px;
}

a, a:focus, a:active {
  color: #E35803;
}

a:hover {
  color: #FFAE00;
  text-decoration: none;
}

.wrap {
  max-width: 960px;
}

.navbar {
  padding-top: 8px;
  padding-bottom: 6px;
  color: white;
  background-color: #4F2815;
  font-family: 'Lato';
  font-size: 14px;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
  color: white;
  font-family: 'Courgette';
  font-size: 32px;
}

.navbar-nav > li > .navbar-btn-primary, .navbar-nav > li > .navbar-btn-primary:focus {
  color: white;
  border: 1px solid #FFAE00;
  background-color: #FFAE00;
  box-shadow: #E35803 -3px 3px 0;
  margin-top: 6px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.navbar-nav > li > .navbar-btn-primary:hover {
  color: white;
  border: 1px solid #FFAE00;
  background-color: #FFAE00;
  box-shadow: #E35803 -3px 3px 0;
  margin-top: 6px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.navbar-nav > li > .navbar-btn {
  color: white;
  background-color: transparent;
  margin-top: 6px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.navbar-nav > li > .navbar-btn:hover {
  color: white;
  background-color: transparent;
  margin-top: 6px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}

.intro-message {
  color: white;
  padding-top: 40px;
  padding-bottom: 50px;
}

.intro-message h2 {
  text-shadow: #E35803 -3px 3px 0;
  font-family: 'Courgette';
  font-size: 34px;
}

.intro-message h3 {
  font-family: 'Lato';
}

.title-message {
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}

.title-message h2 {
  text-shadow: #E35803 -3px 3px 0;
  font-family: 'Courgette';
  font-size: 34px;
}

.title-message h3 a {
  color: white;
}

.main-content {
  background: white;
  border-radius: 8px;
  padding: 20px; 
}

.service-details-left h3 {
  font-weight: 700;
}

.main-content-small {
  background: white;
  border-radius: 8px;
  padding: 20px; 
  max-width: 400px;
  margin: 0 auto;
}

.main-content-medium {
  background: white;
  border-radius: 8px;
  padding: 20px; 
  max-width: 600px;
  margin: 0 auto;
}

.category-list h4 a {
  color: #E35803;
}

.services-item-details h4 a {
  color: #666;
  font-weight: 700;
}

.service-details {
  border-bottom: 1px solid #D9D9D9;
}

.services-items {
  border-bottom: 1px solid #D9D9D9;
}

.services-items:hover {
  border-bottom: 1px solid #D9D9D9;
  background-color: #F7F7F7;
}

.services-item-price h4 {
  color: #1FBDD3;
}

.services-item-price {
  margin-top: 15px;
}

.services-item-details-mini {
  color: #999999;
  font-size: 12px;
  font-style: italic;
}

.btn-order:hover {
  color: white;
  border: 1px solid #21D8F1;
  background-color: #21D8F1;
  box-shadow: #1690A0 -3px 3px 0;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-order {
  color: white;
  border: 1px solid #1FBDD3;
  background-color: #1FBDD3;
  box-shadow: #1690A0 -3px 3px 0;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-primary {
  color: white;
  border: 1px solid #1FBDD3;
  background-color: #1FBDD3;
  box-shadow: #1690A0 -3px 3px 0;
  padding: 10px;
  font-size: 14px;
  margin-right: 10px;
}

.btn-primary:hover, .btn-primary:focus, {
  color: white;
  border: 1px solid #21D8F1;
  background-color: #21D8F1;
  box-shadow: #1690A0 -3px 3px 0;
  padding: 10px;
  font-size: 14px;
}

.btn-title {
  color: white;
  border: 1px solid #FFAE00;
  background-color: #FFAE00;
  box-shadow: #E35803 -3px 3px 0;
  padding: 10px;
  font-size: 14px;
  margin-right: 10px;
  font-family: 'Lato';
  text-shadow: none;
}

.btn-title:hover, .btn-title:focus, {
  color: white;
  border: 1px solid #FFAE00;
  background-color: #FFAE00;
  box-shadow: #E35803 -3px 3px 0;
  padding: 10px;
  font-size: 14px;
  font-family: 'Lato';
  text-shadow: none;
}
