<div class="container-fluid wrap">

  <div class="title-message">
      <h2>Category: {{ message }}</h2>
  </div>
  
  <div class="main-content">
    <div class="row">
      <div class="category-list col-xs-3">
        <div class="row text-center" ng-repeat="category in categories">
          <h4><a href="/#/categories/{{ category.id }}">{{ category.name }}</a></h4>
        </div>
      </div>
      <div class="services-list col-xs-9" ng-hide="noServices">
        <div class="row services-items" ng-repeat="service in services" >
          <div class="services-item-details col-xs-12">
            <h4><a href="/#/services/{{ service.id }}">{{ service.title }}</a></h4>
            <p>{{ service.description }}</p>
            <p class="services-item-details-mini">Rating: {{ service.average_rating }} | Created on: {{ service.created_at | date:"dd/MM/yyyy" }} | By <a href="/#/profile/{{ service.user.id }}">{{ service.user.name }}</a> | District: {{ service.district }}</p>
          </div>
          <div class="services-item-price">
          </div>
        </div>
      </div>
      <h4 ng-show="noServices">No Services in this category.</h4>
    </div>
  </div>

</div>