<navbar></navbar>

<div class="container-fluid wrap">

  <div class="intro-message text-center">
      <h2>{{ message }}</h2>
      <h3>Have a look at your purchases and sales.</h3>
  </div>
  
  <div class="main-content">
    <a href="/#/services/create" class="btn btn-primary">Add Service</a>
    <div ng-repeat="service in services" ng-hide="noServices">
      <p>{{ service.title }}</p>
      <p>{{ service.district }}</p>
      <a href="/#/" class="btn btn-primary">Edit</a>
      <a href="/#/" class="btn btn-primary">Delete</a>
    </div>
    <h4 ng-show="noServices">No Services currently offered</h4>
  </div>

</div>