<navbar></navbar>

<div class="container-fluid wrap">
  <h2>Manage Services</h2>
  <button class="btn btn-primary">Add Service</button>
  <div class="main-content">
    <div class="container">
      <div ng-repeat="service in services" ng-hide="noServices">
        <span>{{ service.title }}</span>{{ service.district }}
        <button><a href="" class="btn btn-primary">Edit</a></button>
        <button><a href="" class="btn btn-primary">Delete</a></button>
      </div>
      <h4 ng-show="noServices">No Services currently offered</h4>
    </div>
  </div>
</div>