<div class="container-fluid wrap">

  <div class="title-message">
      <h2>{{ message }}</h2>
  </div>
  
  <div class="main-content">
    <a href="/#/services/create" class="btn btn-primary">Add Service</a>
    <div ng-repeat="service in services" ng-hide="noServices">
      <h4>{{ service.title }}</h4>
      <p>{{ service.description }}
      <p>Rating: {{ service.average_rating }} | Created on: {{ service.created_at | date:"dd/MM/yyyy" }} | District: {{ service.district }} | Category: {{ service.category.name }}</p>
      <a href="/#/services/edit" class="btn btn-primary">Edit</a>
      <a href="/#/services/edit#anchor" class="btn btn-primary">Delete</a>
    </div>
    <h4 ng-show="noServices">No Services currently offered</h4>
  </div>

</div>