<!DOCTYPE html>
<html ng-app="jimmythis">
<head>
  <title>JimmyThis</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Courgette|Lato|Roboto">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-view>

<%= yield %>

</body>
</html>
